{% extends "home.html" %}

{% block title %}
    Delete Game?
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block heading %}
    <h1>Delete Game?</h1>
{% endblock %}

{% block logged_in_content %}
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this game: {{ that_one_game.title }}?</p>
        <div class="button-container">
            <button class="button primary" type="submit">Yes</button>
            <a class="button secondary" href="{% url 'game-detail' that_one_game.id %}">No, back to game</a>
        </div>
    </form>
{% endblock %}

{% block not_logged_in_content %}
    <h2>You must be logged in to delete this game.</h2>
    <div class="button-container">
        <a class="button primary" hhref="{% url 'login' %}">Login</a>
        <a class="button secondary" hhref="{% url 'home' %}">Back to Home</a>
    </div>
{% endblock %}