{% extends "home.html" %}

{% block title %}
    Game Search
{% endblock %}


{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block heading %}
    <h1>Search Games</h1>
{% endblock %}

{% block logged_in_content %}
<h3>What are you looking for?</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button primary">Search</button>
    </form>
    <br>
    <br>

    {% if show_results %}
        <b>Found games:</b><br>
        <ul>
        {% for game in game_found %}
            <a href="{% url 'game-detail' game.id %}"><b>{{ game.title }}</b></a><br>
            <i>Game Creator: </i>{{ game.creator }} / {{ game.get_genre_display }} / <i>Released: </i>{{ game.release_date }}<br>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <b>No matching games found.</b><br>
    {% endif %}
    <div class="button-container">
        <a class="button primary" href="{% url 'game-list' %}">Show me all games</a>
        <a class="button secondary" href="{% url 'home' %}">Back to Home</a>
    </div>
{% endblock %}