{% extends "home.html" %}

{% block title %}
    {{ that_one_game.title }}
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block heading %}
    <h1>{{ that_one_game.title }}</h1>
{% endblock %}

{% block logged_in_content %}
    <div class="game-detail-content">
        <div class="left-column">
            <h2>Game Information:</h2>
            <img width="300" src="{% if that_one_game.cover_image %}{{ that_one_game.cover_image.url }}{% endif %}">
            <ul>
                <li>Release date: {{ that_one_game.release_date }}</li>
                <li>Game Creator: {{ that_one_game.creator }}</li>
                <li>Genre: {{ that_one_game.get_genre_display }}</li>
                <li>Age rating: {{ that_one_game.age_rating }}</li>
            </ul>
            <h4>Description:</h4>
            <p class="game-detail-description">{{ that_one_game.description }}</p>
            <p class="game-detail-upload-date">Uploaded by: <i>{{ that_one_game.user }}</i> at <i>{{ that_one_game.upload_date }}</i></p>

            <h4>Price: </h4><span class="price">{{ that_one_game.price }}</span>

            <div class="input rating">
                <h4>Your Rating: </h4>
            </div>
            <form class="review-form" method="GET" action="/review">
                <input type="radio" id="5s" name="rate" value="5" /><label for ="5s" class="fas fa-star"></label>
                <input type="radio" id="4s" name="rate" value="4" /><label for ="4s" class="fas fa-star"></label>
                <input type="radio" id="3s" name="rate" value="3" /><label for ="3s" class="fas fa-star"></label>
                <input type="radio" id="2s" name="rate" value="2" /><label for ="2s" class="fas fa-star"></label>
                <input type="radio" id="1s" name="rate" value="1" /><label for ="1s" class="fas fa-star"></label>
                <!--<a class="button primary" href="{% comment %}{% url 'review' that_one_game.id %}{% endcomment %}">Vote</a>-->
            </form>
            {% if request.user.is_staff %}
                <p class="button-delete-container">
                    <a class="button primary button-delete" href="{% url 'game-delete' that_one_game.id %}">Delete Game</a>
                </p>
                <p class="button-edit-container">
                    <a class="button primary button-edit" href="{% url 'game-edit' that_one_game.id %}">Edit Game</a>
                </p>
            {% endif %}
            {% if that_one_game.product_data_pdf %}
                <div class="button-download-container">
                    <a class="button primary button-download" target="_blank" href="{{ that_one_game.product_data_pdf.url }}">Download PDF</a>
                </div>
            {% endif %}
            <div class="add-to-cart-container">
                <form method="POST">
                    {% csrf_token %}
                    <button class="button primary" type="submit" name="action" value="add-to-cart">Add to shopping cart</button>
                </form>
            </div>
            <div class="button-container">
                <a class="button secondary button-back" href="{% url 'game-list' %}">Back to all games</a>
                <a class="button secondary button-back-list" href="{% url 'home' %}">Back to Home</a>
            </div>
        </div>
        <div class="right-column">
            <h4 class="comments-heading">Comments:</h4>
            <div class="comments-container">
                {% if not comments_for_that_one_game %}
                    <p>Not comments yet. Be the first to comment!</p>
                {% else %}
                    <ul class="comments-list">
                        {% for comment in comments_for_that_one_game %}
                                <li class="comment-list-element">
                                    <div>
                                        {% if comment.approved or user.is_staff %}
                                            <p class="comment-text">{{ comment.text }}</p>
                                        {% else %}
                                            <p>This comment has been reported and is waiting for approval.</p>
                                        {% endif %}
                                        <p class="comment-meta">By <i>{{ comment.user.username }}</i> on <i>{{ comment.timestamp }}</i>
                                            {% if user.username == comment.user.username or user.is_staff %}
                                                <a class="delete-link" href="{% url 'comment-delete' that_one_game.id comment.id %}">Delete comment</a>
                                            {% endif %}
                                            {% if comment.approved and not user.is_staff and not user.username == comment.user.username%}
                                                <a class="report-link" href="{% url 'comment-report' that_one_game.id comment.id %}">Report comment</a>
                                            {% endif %}
                                            {% if not comment.approved and user.is_staff %}
                                                <a class="approval-link" href="{% url 'comment-approval' that_one_game.id comment.id %}">Approve comment</a>
                                            {% endif %}
                                        </p>
                                        <div class="comment-votes">
                                              <span style="color:darkgreen">
                                                  {{ comment.get_upvotes_count }}
                                                  <a href="{% url 'comment-vote' that_one_game.id comment.id 'up' %}" {% if request.user.is_staff %}class="disabled"{% endif %}>up</a>
                                              </span>
                                              <span style="color:crimson">
                                                  {{ comment.get_downvotes_count }}
                                                  <a href="{% url 'comment-vote' that_one_game.id comment.id 'down' %}" {% if request.user.is_staff %}class="disabled"{% endif %}>down</a>
                                              </span>
                                        </div>
                                    </div>
                                </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if not request.user.is_staff %}
                <b>Do you want to leave a comment?</b>
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button class="button primary button-submit-comment" type="submit" name="action" value="comment">Add comment</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block not_logged_in_content %}
    <h2>You must be logged in to view this game.</h2>
    <div class="button-container">
        <a class="button primary" hhref="{% url 'login' %}">Login</a>
        <a class="button secondary" hhref="{% url 'home' %}">Back to Home</a>
    </div>
{% endblock %}