{% extends "home.html" %}

{% block title %}
    All Games
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block heading %}
    <h1>All Games</h1>
{% endblock %}

{% block logged_in_content %}
    <div class="games-container">
        {% for game in all_the_games %}
            <div class="game-card">
                <h3>{{ game.title }}</h3>
                <ul>
                    <li>Release date: {{ game.release_date }}</li>
                    <li>Game Creator: {{ game.creator }}</li>
                    <li>Genre: {{ game.get_genre_display }}</li>
                    <li>Age rating: {{ game.age_rating }}</li>
                </ul>
                <h4>Description:</h4>
                <p class="game-card-description">{{ game.description }}</p>
                <h4>Price: </h4><span class="price">{{ game.price }}</span>
                <p>
                    <a class="button primary" href="{% url 'game-detail' game.id %}">View Details</a>
                </p>
                {% if user.is_staff and game.get_reported_comments_count > 0 %}
                    <p style="color:red;margin-top:30px;">Comments waiting for approval: {{ game.get_reported_comments_count }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="button-container">
        {% if request.user.is_staff %}
            <a class="button primary" href="{% url 'game-create' %}">Add a new game</a>
        {% endif %}
    </div>
{% endblock %}

{% block not_logged_in_content %}
    <h2>You must be logged in to view games.</h2>
    <div class="button-container">
        <a class="button primary" href="{% url 'login' %}">Login</a>
        <a class="button secondary" href="{% url 'home' %}">Back to Home</a>
    </div>
{% endblock %}