{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block heading %}
    <h1>Sign Up</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
        <div class="button-container">
            <button class="button primary" type="submit">Sign Up</button>
            <a class="button secondary" href="{% url 'home' %}">Back to Home</a>
        </div>
    </form>
{% endblock %}