{% extends 'home.html' %}
{% load static %}

{% block title %}Comment edit delete{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block logged_in_content %}
<h2>Comment edit delete</h2>
    {% if not can_delete %}
        You are not authorized to edit or delete comments.<br><br>
    {% endif %}

    <b style="color: darkgreen">{{ comment.myuser.username }} on {{ comment.timestamp }}</b><br>
    {% if can_delete %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
            <button type="submit" name="edit">Edit</button>
            <button type="submit" name="delete">Delete</button>
        </form>
    {% else %}
        {{ comment.text }}<br>
    {% endif %}
{% endblock %}