<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_styles.css' %}">
    <script defer src="{% static 'js/sticky-header.js' %}"></script>
    {% block css %}
    {% endblock %}
    {% load static %}

    <title>{% block title %}Base Title{% endblock %}</title>
</head>
<body>
    <header class="sticky-header">
        <div class="header-container">
            <div class="logo-container header">
                <a href="{% url 'home' %}">
                    LOGO
                </a>
            </div>
            <div class="nav-container header">
                {% if user.is_authenticated %}
                    <div class="button-container">
                        <a class="" href="{% url 'game-list' %}">All games</a>
                        <a class="" href="{% url 'game-search' %}">
                            <img src="/media/images/icons/search.svg">
                        </a>
                        <a class="" href="{% url 'cart' %}">
                            <img src="/media/images/icons/shopping-cart.svg">
                        </a>
                    </div>
                    <h4>
                        {{ user.username }}
                        {% if user.is_superuser %}
                            (Admin)
                        {% elif user.is_staff %}
                            (Staff)
                        {% endif %}
                    </h4>
                    <a href="{% url 'profile' %}">
                        <div class="user" style="background-image:url('{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/media/images/users/defaultUser.png{% endif %}');">
                        </div>
                    </a>
                {% else %}
                    <div class="button-container">
                        <a class="button secondary" href="{% url 'signup' %}">Sign Up</a>
                        <a class="button primary" href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="content-container">
        {% block heading %}<h1>Base Intro</h1>H1>{% endblock %}
        {% block content %}<p>Base Content</p>{% endblock %}
    </div>
    <footer>
        <div class="footer-container">
            <div class="logo-container footer">
                <img class="logo-placeholder" src="">
            </div>
            <div class="nav-container footer">
                <a class="" href="{% url 'home' %}">Back to home</a>
                <a class="" href="{% url 'home' %}">Data privacy</a>
                <a class="" href="{% url 'home' %}">Imprint</a>
            </div>
        </div>
    </footer>
</body>
</html>
