{% extends "base.html" %}

{% block title %}Django Project{% endblock %}

{% block heading %}
    <h1>Welcome!</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <h2>Hello {{ user.username }}</h2>
            <p><a href="{% url 'game-list' %}">Show me the games</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <h2>You shall not pass</h2>
            <p><a href="{% url 'login' %}">Login</a></p>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
        {% endblock %}
    {% endif %}
{% endblock %}


