{% extends "base.html" %}

{% block title %}Django Project{% endblock %}

{% block intro %}
    <h1>Hello (www)orld</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}

{% block quote %}<blockquote><i>It iiiiiis what it iiiiiis</i></blockquote>{% endblock %}

{% block cta %}<a href="mailto:julian@jut-so.de" style="color:red;">Click me or i'll die!</a>{% endblock %}

