{% extends 'home.html' %}
{% load static %}

{% block title %}Shopping cart{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/game_styles.css' %}">
{% endblock %}

{% block content %}
<h2>Shopping cart</h2>
    {% if shopping_cart_is_empty %}
        Your shopping cart is empty.<br>
    {% else %}
        {% for item in shopping_cart_items %}
            {{ item.product_name }}<br>
            {{ item.price }} € x{{ item.quantity }}<br>
            <br>
        {% endfor %}

        Total amount: {{ total }} €

        <br><br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="empty">Empty the shopping cart</button><br>
            <button type="submit" name="pay">Pay with credit card</button>
        </form>
    {% endif %}

    <br>
    <a href="{% url 'computer-list' %}">Keep shopping the computers</a>
{% endblock %}